 .u-section-1 {
  background-image: url("images/pricing_bg.png");
  background-position: 50% 50%;
}

.u-section-1 .u-sheet-1 {
  min-height: 570px;
}

.u-section-1 .u-image-1 {
  height: 570px;
  margin: 0;
}

@media (max-width: 1199px) {
  .u-section-1 .u-sheet-1 {
    min-height: 470px;
  }

  .u-section-1 .u-image-1 {
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 991px) {
  .u-section-1 .u-sheet-1 {
    min-height: 370px;
  }

  .u-section-1 .u-image-1 {
    height: 370px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 767px) {
  .u-section-1 .u-sheet-1 {
    min-height: 280px;
  }

  .u-section-1 .u-image-1 {
    height: 280px;
    margin-right: initial;
    margin-left: initial;
  }
}

@media (max-width: 575px) {
  .u-section-1 .u-sheet-1 {
    min-height: 216px;
  }

  .u-section-1 .u-image-1 {
    width: 390px;
    margin-top: initial;
    margin-bottom: initial;
    height: auto;
  }
}